<%- include('./layouts/header.ejs') %>

        <div class="container p-4">

            <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert">
                <p><%= messages.error %></p>
            </div>
            <% } %>

            <% if (messages.success) { %>
            <div class="alert alert-success" role="alert">
                <p><%= messages.success %></p>
            </div>
            <% } %>

            <h2 class="text-center">S'enregistrer</h2>
            <form method="post" action="/auth/register" class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <div class="mb-3">
                    <label for="lastName" class="form-label">Nom</label>
                    <input type="text" class="form-control" aria-describedby="nameHelp" name="lastName" value="<%= lastName %>">
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">Prénom</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" name="firstName" value="<%= firstName %>">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Adresse e-mail</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" name="email" value="<%= email %>">
                    <div class="form-text">Nous ne partagerons jamais vos informations personnelles.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" name="password" value="<%= password %>">
                </div>
                <button type="submit" class="btn btn-primary">S'enregistrer</button>
                <div class="form-text">Vous avez déjà un compte ? <a href="/auth/login" alt="S'enregistrer">Connectez-vous</a> dès maintenant.</div>
            </form>

        </div>

<%- include('./layouts/footer.ejs') %>
