<%- include('./partials/header.ejs') %>

        <div class="container">

            <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert">
                <p><%= messages.error %></p>
            </div>
            <% } %>

            <% if (messages.success) { %>
            <div class="alert alert-success" role="alert">
                <p><%= messages.success %></p>
            </div>
            <% } %>

            <h2 class="text-center">Réinitialiser mon mot de passe</h2>

            <form method="post" action="/auth/reset-password?token=<%= token %>" class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirmer mot de passe</label>
                    <input type="password" class="form-control" name="confirmPassword">
                </div>
                <button type="submit" class="btn btn-primary">Réinitialiser</button>
            </form>

        </div>

<%- include('./partials/footer.ejs') %>